[Unit]
Description=Telegram Message Forwarder Bot
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStart=/usr/bin/python3 %h/tg-forwarder/forwarder.py %h/tg-forwarder/config.json
WorkingDirectory=%h/tg-forwarder
Restart=always
RestartSec=10

[Install]
WantedBy=default.target